.App {
  text-align: center;
}
body {
  background-image: url('./img/image.jpg');
  .blockPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .longButton {
    width: 150px;
  }
}
